[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mypy = "*"
walrus = {index = "p-lock",version = "*"}
pytest = {index = "p-lock",version = "*"}
sqlalchemy = "*"
ipython = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask = "*"
email-validator = "*"
"dogpile.cache" = "*"
requests = "*"
feedparser = "*"
livereload = "*"
bcrypt = "*"
setuptools = "*"

[requires]
python_version = "3.7"
